$vg-gauge-thickness: 8% !default;

@mixin half-circle() {
  padding-top: 50%;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
}

.vg-gauge {
  position: relative;
  overflow: hidden;
}

.vg-gauge-background {
  @include half-circle();
}

.vg-gauge-overlay {
  position: absolute;
  left: $vg-gauge-thickness;
  right: $vg-gauge-thickness;
  bottom: 0;

  &-inner {
    @include half-circle();
  }
}

.vg-gauge-progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  @include half-circle();
  transform: rotate(180deg);
  -webkit-backface-visibility: hidden;
  transform-origin: 50% 100%;
  transition-property: background-color, transform;
}

.vg-gauge-label {
  position: absolute;
  bottom: 0;
  left: $vg-gauge-thickness;
  right: $vg-gauge-thickness;
  font-size: 2em;
  line-height: 1;
  text-align: center;

  span {
    transition: color 1s;
  }
}
