$vg-gauge-size: 200px !default;
$vg-gauge-thickness: 20px !default;

@mixin half-circle($diameter) {
  width: $diameter;
  height: $diameter / 2;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
}

.vg-gauge {
  position: relative;
  @include half-circle($vg-gauge-size);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.vg-gauge-overlay {
  position: absolute;
  @include half-circle($vg-gauge-size - ($vg-gauge-thickness * 2));
  left: $vg-gauge-thickness;
  bottom: 0;
}

.vg-gauge-progress {
  position: absolute;
  top: 0;
  left: 0;
  @include half-circle($vg-gauge-size);
  transform: rotate(180deg);
  -webkit-backface-visibility: hidden;
  transform-origin: 50% 100%;
  transition: all 1s;
}

.vg-gauge-label {
  position: absolute;
  bottom: 0;
  left: $vg-gauge-thickness;
  right: $vg-gauge-thickness;
  font-size: 2em;
  line-height: 1;
  text-align: center;

  span {
    transition: color 1s;
  }
}
